*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Staatliches', cursive;
}

.nav{
    width: 200px;
    position: fixed;
    top: 40px;
    right: 0;
}

.button{
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
}

.viewport{
    width: 100%;
    height: 100vh;
    position: relative;
}

.primo{
    background-color:red;
}

.secondo{
    background-color: green;
}

.terzo{
    background-color: yellow;
}

.shoes img{
    display: block;
}

.shoes{
    position: absolute; 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.testo{
    /* width: 800px; */
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    word-spacing: 20px;
    color: yellow;
    font-size: 60px;
}

.terzo .testo{
    color: green;
}